
.task{
    /* height: auto;
    width: 300px; */
    align-items: center;
    padding: 30px;
    background-color: rgb(153, 155, 153);
    margin-top: 40px;
  
}
/* button{
    color: beige;
    background-color: rgb(83, 85, 85);
    border-radius: 9%;
    padding: 1px;
} */